body{
  background-color: #fffdd0;
}
#nb ul {
    text-align: center;
  list-style-type: none;
  padding: 4.54px 10px;
  overflow: hidden;
  background-color: #99c2ff;
  color: black;
    font-size: 20px;
  font-family: Sans-serif;
  border:1px solid black;}

#nb li {
float: left;
}

#nb li a {
display: block;
text-align: center;
padding: 14px 16px;
text-decoration: none;
color:black;
}

#nb li a:hover {
/*  background-color: #005ce6;*/
transform: scale(1.15);
  transition-duration: .2s;
  color: black;
}

#table2{margin-left:40px;
  width: 60%;
  
 
}
#table2 td{
  margin-left: 10px;
  padding-right: 10px;
  line-height: 2em;
}
#table2 td:hover{
  color: red;
  font-size:20px;
  transition-duration: 0.2s;
  line-height: 1.7em;
  text-decoration: none;
}